<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wester.order.mapper.MyOrderMapper">
    <insert id="insertOrders" parameterType="OrderInfo">
        insert into `ORDER_GOODS` (GOODS_ID, ORDER_ID, NUMBER)
        values
        <foreach item="item" collection="goods" separator=",">
            (#{item.id}, #{orderId}, #{item.number})
        </foreach>
    </insert>

    <select id="getGoodsInfos" parameterType="long" resultType="GoodsInfo">
        select NUMBER as number, GOODS_ID as id
            from ORDER_GOODS
            where ORDER_ID = #{orderId}
    </select>

</mapper>